@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://cdn.glitch.global/2e530cf9-8faf-4f27-a5a6-27d249a5ebc7/cartoon-forest-background-pk4lm7s01x1t3ckt.jpg?v=1741191703457");
  text-align: center;
  margin: auto;
   font-family: "Poetsen One", serif;
}

h1{
  font-size: 30px;
  color: rgb(64, 171, 237);
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid white;
}



